<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<%= render @cuisines %>
<%= render @recipe_types %>

<% @recipes.each do |recipe| %>
  <%= render partial: "recipes/recipe_link", locals: {recipe: recipe} %>
<% end %>
