<h1>Cadastre uma Tipo de Receita</h1>

<%= simple_form_for(@recipe_type, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :name %>
  <%= f.submit t('simple_form.buttons.submit') %>
<% end %>
<%= link_to t('simple_form.back'), root_path %>